@model SearchResultModel
@using IpInfo.Web.Models;
<div id="searchResult">
    @*<p>@Model.Summary</p>*@
    <p>找到的ip</p>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    开始ip
                </th>
                <th>
                    结束ip
                </th>
                <th>
                    地址
                </th>
                <th>
                    编码
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.IpRecord.Id
                </td>
                <td>
                    @Model.IpRecord.StartIp (@Model.IpRecord.StartIpNumber)
                </td>
                <td>
                    @Model.IpRecord.EndIp (@Model.IpRecord.EndIpNumber)
                </td>
                <td>
                    @Model.IpRecord.Address
                </td>
                <td>
                    @Model.IpRecord.AreaCode
                </td>
            </tr>
        </tbody>
    </table>
    <p>查找结果</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    查找方式
                </th>
                <th>
                    查找次数
                </th>
                <th>
                    用时
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    二分法查找
                </td>
                <td>
                    @Model.Binary_recorder.Count
                </td>
                <td>
                    @Model.Binary_recorder.ElapsedMilliseconds
                </td>
            </tr>
            <tr>
                <td>
                    斐波那契查找
                </td>
                <td>
                    @Model.Fibonacci_recorder.Count
                </td>
                <td>
                    @Model.Fibonacci_recorder.ElapsedMilliseconds
                </td>
            </tr>
        </tbody>
    </table>
</div>
